In [3]:
import pandas as pd
import os

# Define file path
file_path = r"C:\Users\asara\OneDrive\Documents\Desktop\BIG DATA\data\raw\ride_demand_raw.csv"

# Check file
if not os.path.exists(file_path):
    raise FileNotFoundError(f"File not found at {file_path}. Check the folder and file name!")

# Load dataset
df = pd.read_csv(file_path)

print("✅ Raw Dataset Loaded Successfully!")
print("Shape:", df.shape)
display(df.head())

# Save to bronze layer
bronze_path = "../data/bronze/ride_demand_bronze.csv"
df.to_csv(bronze_path, index=False)
print("✅ Bronze Layer saved at:", bronze_path)

✅ Raw Dataset Loaded Successfully!
Shape: (10906858, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.0,0.0,0.3,19.3
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.0,0.0,0.3,34.3
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.0,0.0,0.3,17.3
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8

✅ Bronze Layer saved at: ../data/bronze/ride_demand_bronze.csv